.item{
    padding: 1rem;
    border-bottom: 2px solid #4f8a8b;
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
  
}
.close{
    background-color: crimson;
    padding: 0.5rem;
    font-size: 0.5rem;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 0;
}