.item{
    padding: 1rem;
    /* border-bottom: 2px solid #4f8a8b; */
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
  
}
.close{   
    font-size: 1rem;
    color: crimson;
    border-radius: 5px;
    position: absolute;
    right: 0;
}
.close:hover{
    cursor: pointer;
    color:#4f8a8b;
}
.check{
    display: inline-block;
    padding-left: 2rem;
}